<div class="flex flex-col animate__animated animate__fadeIn w-full h-full justify-center items-center py-12 md:py-24">
  <div class="flex flex-col justify-center items-center">
    <img src="assets/img/not_found.svg" alt="Not found picture" aria-label="Girl reading a book under a tree"
      class="w-full h-64" height="90">
    <p class="text-3xl mt-8 font-display md:text-5xl"><b class="font-black">Page</b> isn't available</p>
    <p class="pt-1">Something occurred with the page and it's not available by this time.</p>
    <p class="pt-6">Go back to <a routerLink="/" class="font-bold text-blue">Alexandria</a></p>
  </div>
</div>
