<div
  class="flex flex-col animate__animated animate__fadeIn font-body w-full h-full justify-center items-center py-12 md:py-24">
  <div class="flex flex-col justify-center items-center">
    <img src="assets/img/not_found.svg" alt="Not found picture" aria-label="Girl reading a book under a tree"
      class="w-full h-64" height="90">
    <p class="text-3xl mt-8 md:text-5xl"><b class="font-black">Not</b> found</p>
    <p><b class="font-black">Go back</b> to the <a routerLink="/" class="font-bold text-blue">main menu</a>.</p>
  </div>
</div>
