.active {
    background-color: var(--color-primary) !important;
    color: #FFFFFF !important;
    transition: all ease-in 250ms;
}

.app-bg {
    background-color: var(--color-background-dark);
}

.app-bg-accent {
    background-color: var(--color-background);
}

.app-bg-light {
    background-color: var(--color-background-light);
}

.bg-contrast-filter {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.64));
}

.rounded-xl {
    border-radius: 16px;
}

.max-w-xxs {
    max-width: 10.5rem;
}

html[data-theme="dark"] {
}
