@import 'tailwindcss/base';

button:focus {
    outline: none !important;
}

button, .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    border-radius: 100px !important;
    font-weight: 700 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--color-background) inset;
    -webkit-text-fill-color: #111111;
}

html[data-theme="dark"] {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-text-fill-color: white;
    }
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

@import 'tailwindcss/components'; 
@import 'alexandria-component.scss';
@import 'tailwindcss/utilities';
@import 'alexandria-util.scss';
