<ng-container>
    <h1 class="text-3xl font-black font-display pb-2 md:pb-0">Search</h1>
    <div class="w-full md:hidden">
        <mat-form-field class="w-full" appearance="outline" [floatLabel]="'never'">
            <!-- <mat-label>Search</mat-label> -->
            <input matInput type="text" placeholder="Art, astrophysics, finance ..." 
                [(ngModel)]="query" (keyup)="onQuery($event)">
            <span matSuffix class="flex flex-row flex-no-wrap justify-center items-center">
                <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-icon matSuffix aria-hidden="false" color="accent" class="ml-2 mb-1" aria-label="Search icon">search</mat-icon>
            </span>
        </mat-form-field>
    </div>
</ng-container>