<h1 mat-dialog-title class="font-black text-xl font-body">Security step</h1>
<div mat-dialog-content>
  <p class="mb-4">For security reasons, we shall ask you to kindly reset your password.</p>
  <!-- Custom error message from API -->
  <p class="mb-4 text-red-500 text-sm" *ngIf="errorMsg && errorMsg !== ''">{{errorMsg}}</p>

  <!-- Form -->
  <form [formGroup]="formGroup">
    <!-- Password -->
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your new password" tabindex="1" formControlName="password"
        [type]="isPwdHidding ? 'password' : 'text'">
      <button mat-button *ngIf="formGroup.get('password').value" matSuffix mat-icon-button type="button"
        [attr.aria-pressed]="isPwdHidding" [attr.aria-label]="'Hide password'" (click)="isPwdHidding = !isPwdHidding">
        <mat-icon color="accent">{{isPwdHidding ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.get('password').hasError('pattern')" class="mb-1">
        Requires a number, uppercase, lowercase and an special character.
      </mat-error>
      <mat-error *ngIf="formGroup.get('password').hasError('minlength')">
        Requires 8 character min.
      </mat-error>
      <mat-error *ngIf="formGroup.get('password').hasError('required')">
        Field required.
      </mat-error>
    </mat-form-field>

    <!-- Confirm password -->
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Verify your new password" tabindex="2" formControlName="confirm"
        [type]="isConfirmHidding ? 'password' : 'text'">
      <button mat-button *ngIf="formGroup.get('confirm').value" matSuffix mat-icon-button type="button"
        [attr.aria-pressed]="isConfirmHidding" [attr.aria-label]="'Hide password'"
        (click)="isConfirmHidding = !isConfirmHidding">
        <mat-icon color="accent">{{isConfirmHidding ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.get('confirm').hasError('pattern')" class="mb-1">
        Requires a number, uppercase, lowercase and an special character.
      </mat-error>
      <mat-error *ngIf="formGroup.get('confirm').hasError('minlength')">
        Requires 8 character min.
      </mat-error>
      <mat-error *ngIf="formGroup.get('confirm').hasError('required')">
        Field required.
      </mat-error>
    </mat-form-field>
  </form>
</div>

<!-- Actions -->
<div mat-dialog-actions class="flex flex-row justify-evenly" style="padding-bottom: 1.25rem;">
  <button mat-button (click)="onNoClick()" aria-label="Cancel password change"
    aria-details="Cancel the current password change operation" tabindex="4">
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="onChangePassword()" cdkFocusInitial style="margin-bottom: 0.5rem;"
    aria-label="Proceed password change"
    [disabled]="!formGroup.valid || formGroup.get('password').value !== formGroup.get('confirm').value || isHandling"
    aria-details="Proceed with the current password change" tabindex="3">
    Change password
  </button>
</div>
