<div class="swiper-slide">
  <a [routerLink]="[props.uri, !props.useQuery ? props.aggregateID:{}]"
    [queryParams]="props.useQuery ? props.queryParams: ''"
    rel="canonical" class="flex flex-row flex-no-wrap items-center w-full pb-4">
    <img [src]="props.image" class="object-cover rounded-xl" [attr.aria-label]="props.displayName + ' picture'"
      [alt]="props.displayName + ' picture'" style="height: 112px; width: 112px;"
      [ngClass]="props.isRounded ? 'rounded-full':'rounded-xl'" />
    <!-- Data / content -->
    <div class="flex flex-col flex-no-wrap mx-5 max-h-full max-w-xxs md:max-w-full">
      <h1 class="font-bold text-xl truncate-line">{{props.displayName}}</h1>
      <p class="truncate-line">{{props.description}}</p>
    </div>
  </a>
</div>
