<div class="w-full max-w-xs md:w-48" style="width: 192px;" [attr.aria-label]="props.displayName + ' ' + props.uri">
  <a [routerLink]="['/'+props.uri, !props.useQuery ? props.aggregateID : {}]"
    [queryParams]="props.useQuery ? props.adID ? {ad: props.adID, id: props.aggregateID}:{id: props.aggregateID} : props.adID ? {ad: props.adID}: ''"
    rel="canonical" class="flex flex-col justify-center items-center flex-no-wrap w-full h-full">
    <img [src]="props.image" class="object-cover" [attr.aria-label]="props.displayName + ' picture'"
      [alt]="props.displayName + ' picture'" [ngClass]="!props.isRounded ? 'rounded-xl': 'rounded-full'"
      style="height: 144px; width: 144px;" />
    <!-- Data / content -->
    <div class="flex flex-row flex-no-wrap max-w-full py-4 break-words">
      <h1 class="font-bold text-lg text-center truncate max-w-full">{{props.displayName}}</h1>
      <mat-icon *ngIf="props.isVerified" class="text-blue ml-1">verified</mat-icon>
    </div>
  </a>
</div>
