<h1 mat-dialog-title class="font-black text-xl font-body">Security step</h1>
<div mat-dialog-content>
  <p class="mb-4">We noticed you haven't verified your email, we suggest you to kindly verify it now.</p>
  <!-- Custom error message from API -->
  <p class="mb-4 text-red-500 text-sm" *ngIf="errorMsg && errorMsg !== ''">{{errorMsg}}</p>

  <!-- Form -->
  <form [formGroup]="formGroup">
    <!-- Verification code -->
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Verification Code</mat-label>
      <input matInput placeholder="Enter your verification code" tabindex="1" formControlName="code"
        [type]="isCodeHidding ? 'password' : 'text'">
      <button mat-button *ngIf="formGroup.get('code').value" matSuffix mat-icon-button type="button"
        [attr.aria-pressed]="isCodeHidding" [attr.aria-label]="'Hide verification code'"
        (click)="isCodeHidding = !isCodeHidding">
        <mat-icon color="accent">{{isCodeHidding ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.get('code').hasError('minlength')">
        Requires 4 character min.
      </mat-error>
      <mat-error *ngIf="formGroup.get('code').hasError('required')">
        Field required.
      </mat-error>
    </mat-form-field>
    <!-- Resend code button -->
    <div class="flex flex-col w-full justify-end items-end mb-6">
      <button mat-stroked-button color="accent" type="button" tabindex="4" (click)="requestEmailVerify()">Resend
        code</button>
    </div>
  </form>
</div>

<!-- Actions -->
<div mat-dialog-actions class="flex flex-row justify-evenly" style="padding-bottom: 1.25rem;">
  <button mat-button (click)="onNoClick()" aria-label="Skip email verification" style="margin-bottom: 0.5rem;"
    aria-details="Skip the current email verification operation" tabindex="3">
    Skip
  </button>
  <button mat-flat-button color="primary" (click)="onConfirm()" cdkFocusInitial style="margin-bottom: 0.5rem;"
    aria-label="Proceed email verification" [disabled]="!formGroup.valid || isHandling"
    aria-details="Proceed with the current email verification" tabindex="2">
    Verify email
  </button>
</div>
