/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Mulish:wght@400;700;800;900&display=swap');

html {
    --color-primary: #0057FF;
    --color-accent: #757575;
    --color-danger: #D50000;
    --color-success: #00c853;

    --color-font: #111111;
    --color-font-accent: #7b7b7b;
    --color-font-alt: #ffffff;

    --color-border: #e4e4e4;

    --color-background-dark: #f0f0f0;
    --color-background: #fafafa;
    --color-background-light: #ffffff;

    background-color: var(--color-background-dark);
}

html[data-theme="dark"] {
    --color-accent: #FAFAFA;
    
    --color-font: #ffffff;
    --color-font-accent: rgba(255,255,255, 0.6);
    --color-font-alt: #111111;

    --color-border: #292929;
    
    --color-background-dark: #18191a;
    --color-background: #242526;
    --color-background-light: rgba(255,255,255, 0.1);
}

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
}

body {
    font-family: 'Lato', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}